img, a img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
/*------------------ body / main menu -------------------------*/
::-webkit-scrollbar {
	display: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 130px;
}

.container {
  flex: 1;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  min-height: 0;
}
.mainBoxDesign{
	flex: 1;
	min-width: 0;
	border-radius: 20px;
	margin-top: 12px;
	margin-bottom: 80px;
	display: flex;
	background-color: white;
	border: 1px solid rgb(255, 125, 0);
}
.main-menu{
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
/*.inner-content::-webkit-scrollbar {
	display:inline;
    width: 10px;  
}
.inner-content::-webkit-scrollbar-thumb {
    background:#FF7D00;
    border-radius: 10px;
}*/
.loc-btn{
	display: flex;
	justify-content: center;
	margin: 15px 30px;
	border-radius: 10px;
	padding: 15px;
	background-color: white;
	border: 1px solid rgb(255, 125, 0);
}
.btn, .all-btn{
	margin: 0px 10px;
    border: 1px solid #FF7D00;
    border-radius: 15px;
    width: 55px;
    height: 35px;
    background-color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn:hover, .btn.active, .all-btn:hover, .all-btn.active{
	background-color: #FF7D00;
	color: white;
}
.bookmark-list{
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	margin: 15px 30px;
	border-radius: 10px;
	height: 565px;
	background-color: white;
	border: 1px solid rgb(255, 125, 0);
}
.list-title{
	margin:10px;
}
.list-title span{
	font-size: 20px;
	margin: 10px;
}
.list-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-height: 565px
}

.list-content {
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

.inner-content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  max-height: 100%;
  position: relative; /* 중요 */
}

.view {
  flex-shrink: 0;
  position: relative;
  height: auto;
}
.view.active{
	border: 1px double #F7F3EA;
	border-radius: 10px;
	padding: 5px;
}
.view-img{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	overflow: hidden;
}
.view-res-image{
	margin: auto;
	height: 100%;
	width: 100%;
}
.view-info{
	width: 230px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}
.info-text{
	display: flex;
	flex-direction: row;
}
.info-text input{
	outline: none;
	border: none;
	font-size: 15px;
	margin: 3px;
	max-width: 170px;
}
.res-cate{
	width: 50px;
}
.info-text a{
	text-decoration: none;
	display: inline-block;
	width: fit-content;
	max-width: 100%;
}
.input-size {
	position: absolute;
	visibility: hidden;
	white-space: pre;
	height: 0;
	font-size: 1.1rem;
	padding: 0 4px;
	box-sizing: content-box;
}
.res-cate{
    width: 50px;
}
.bookmark{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	color: #FFD700;
	transition: color 0.2s;
}
.bookmark.active{
	transition: color 0.2s;
	color: #bbb;
}
.bookmark:hover {
	transition: color 0.2s;
  	color: #FFD700;
}
.change-bookmark-button{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.change-btn{
	background-color: white;
    color: gray;
    width: 45px;
    height: 45px;
    font-size: 30px;
    margin: 5px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.change-btn:hover{
	transition: color 0.2s;
	color: black;
}

/*-----------------------모달-------------------------------*/
.bookmark-check-modal{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
	background: rgba(0,0,0,0.2);
  	z-index: 999;
}
.inner-modal{
	text-align: center;
	background: #fff;
	padding: 20px 25px;
	border-radius: 8px;
	box-shadow: 0 4px 24px rgba(0,0,0,0.2);
	min-width: 300px;
}
.bookmark-modal-content{
	display: flex;
	align-items:center;
	justify-content: center;
}
.out-bookmark-btn{
    background-color: #FF7D00;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: auto;
}
.cancle-modal-btn{
	background-color: #e53935;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: auto;
}

/*------------------ 사이드 메뉴 css -------------------------*/
.side-menu{
	width: 200px;
	display: flex;
}
.side{
    list-style-type: none;
    position: fixed;
    width: 182px;
    padding: 0px 0px;
    border-radius: 20px;
}
.side a{
	display: block;
    width: 100%;
    height: 100%;
    color: #FF7D00;
    padding: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.side li{
	box-sizing: border-box;
    border: 2px solid #FF7D00;
    display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	margin-top: -2px;
}
.side-myinfo{
	border-radius: 15px 15px 0 0;
}
.side-event{
	border-radius: 0 0 15px 15px;
}
.side li:hover,
.side-modifyinfo.active {
    background-color: rgba(255, 254, 252, 0.5);
    font-weight: bold;
}
.side a:hover,
.side-modifyinfo.active a {
    color: #FF7D00 !important;
}

#text1{
	font-size: 12px;
	text-align: left;
	margin: 0px 10px 5px;
}