/*------------------ body / main menu -------------------------*/
body{
 -ms-overflow-style: none;
 }
::-webkit-scrollbar {
  display: none;
}
.container{
	width: 1200px;
	height: 1500px;
	margin: auto;
}
.side-menu{
	width: 230px;
	height: 100%;
	float: left;
}
.main-menu{
	width: 80%;
	float: right;
	font-size: 20px;
}
.title{
	width: 100%;
	height: 60px;
	border: 1px dashed;
	border-radius: 20px;
	align-items: center;
	display: flex;
}
.title span{
	margin: 10px;
}
.main-list{
	border: 1px dashed;
	border-radius: 20px;
	margin: 15px 0; 
	overflow: hidden;
	width: 100%;
	height: 1300px;
}
.inner-main{
	overflow: auto;
	height: 100%;
}
.inner-main::-webkit-scrollbar {
	display:inline;
    width: 10px;  
}
.inner-main::-webkit-scrollbar-thumb {
    background:#FF7D00;
    border-radius: 10px;
}
.booking-list{
	/*border: 1px solid black;*/
	width: 98%;
	height: 409px;
	margin: 5px 0;;
}
.sec-1{
	text-align: center;
	width: 30%;
	height: 100%;
	float: left;
}
.sec-2{
	width: 70%;
	height: 100%;
	float: right;
}
.booking-date{
	margin: 10px;
}
.booking-img{
	width: 250px;
	height: 250px;
	border: 1px dashed black;
	margin: 10px;
	display: inline-block;
}
.booking-res-image{
	margin: auto;
	height: 100%;
	width: 100%;
}
.category{
	margin: 20px 10px;
}
.booking-info{
	margin: 10px;	
	border: 1px dashed black;
	height: 250px;
	width: auto;
}
.info-text{
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info-text input{
	outline: none;
	border: none;
	font-size: 1.1rem;
	display: inline-block;
	margin: 5px;
	height: 35px;
}
.info-text a{
	text-decoration: none;
	display: inline-block;
	width: fit-content;
	max-width: 100%;
}
.input-size {
	position: absolute;
	visibility: hidden;
	height: 0;
	white-space: pre;
	font-size: 1.1rem;
	padding: 0 4px;
	box-sizing: content-box;
}
.bookmark{
	float: right;
	margin: 0 10px;
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 2rem;
	color: #FFD700;
	transition: color 0.2s;
}
.bookmark.active{
	transition: color 0.2s;
	color: #bbb;
}
.bookmark:hover {
  	color: #FFD700;
}
.booking-schedule{
	height: 69px;
	width: 100%;
}
.booking-date{
	text-align: center;
	float: left;
    text-align: center;
    display: inline-block;
    width: 220px;
    font-size: 1.5rem;
    height: 40px;
}
.booking-cancel-btn{
	margin: 11px 20px;
}
.memo{
	height: 40px;
	width: 468px;
	margin: 0 10px;
}
.memo-btn{
	margin: 0 20px;
}
.memo-btn,
.booking-cancel-btn{
	float: right;
	background-color: #FF7D00;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
	height: 40px;
}






/*------------------ 사이드 메뉴 css -------------------------*/

.side{
    border: 1px dashed;
    list-style-type: none;
    position: fixed;
    width: 182px;
    padding: 15px;
    margin: 0;
    border-radius: 20px;
}
.side a{
	display: block;
    width: 100%;
    height: 100%;
    color: #FF7D00;
    padding: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.side li{
	box-sizing: border-box;
    border: 2px solid #FF7D00;
    display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	margin-top: -2px;
}
.side-myinfo{
	border-radius: 15px 15px 0 0;
}
.side-event{
	border-radius: 0 0 15px 15px;
}
.side li:hover,
.side-booking.active {
    background-color: #FF7D00;
    font-weight: bold;
}
.side a:hover,
.side-booking.active a {
    color: white !important;
}