/*------------------ body / main menu -------------------------*/
.container{
	width: 1200px;
	height: 1500px;
	margin: auto;
}
.side-menu{
	width: 230px;
	height: 100%;
	float: left;
}
.main-menu{
	width: 80%;
	height: 95%;
	float: right;
	border: 1px dashed;
	font-size: 20px;
	overflow: auto;
}
.title{
	font-size: 30px;
	margin: 20px;
}
.booking-list{
	/*border: 1px solid black;*/
	width: 98%;
	height: 409px;
	margin-bottom: 20px;
}
.sec-1{
	text-align: center;
	width: 30%;
	height: 100%;
	float: left;
}
.sec-2{
	width: 70%;
	height: 100%;
	float: right;
}
.booking-date{
	margin: 10px;
}
.booking-img{
	width: 250px;
	height: 250px;
	border: 1px solid black;
	margin: 10px;
	display: inline-block;
}
.category{
	margin: 10px;
}
.btn{
	display: block; 
	float: right;
	margin: 10px;
}
.booking-info{
	margin: 59px 10px 10px;
	border: 1px dashed;
	height: 250px;
}
.bookmark-img{
	float: right;
	margin:10px;
	height: 40px;
	width: 40px;
	border: 1px solid black;
	font-size: 10px;
}
.info-text{
	margin: 10px;
}
.booking-schedule{
	text-align: center;
	display: inline;
	margin: 5px;
	height: 25px;
	width: 200px;
}
.memo{
	height: 25px;
	width: 500px;
	margin: 5px 10px;
}




/*------------------ 사이드 메뉴 css -------------------------*/

.side{
    border: 1px dashed;
    list-style-type: none;
    position: fixed;
    padding: 0;
    width: 182px;
    height: 40%;
    padding: 15px;
    margin: 0;
}
.side li{
    border: 1px solid black;
    display: block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px;
}
.side li:hover{
	color: blueviolet;
	background-color: gray;
	font-weight: bold;
}