/*------------------ body / main menu -------------------------*/
.container{
	width: 1200px;
	height: 870px;
	margin: auto;
	margin-bottom: 20px; 
}
.side-menu{
	width: 230px;
	height: 100%;
	float: left;
}
.main-menu{
	width: 80%;
	height: 100%;
	float: right;
	border: 1px dashed;
	font-size: 20px;
	overflow: auto;
}
.kirby{
	text-align: center;
}

/*------------------ 사이드 메뉴 css -------------------------*/

.side{
    border: 1px dashed;
    list-style-type: none;
    position: fixed;
    padding: 0;
    width: 182px;
    height: 50%;
    padding: 15px;
    margin: 0;
}
.side li{
    border: 1px solid black;
    display: block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px;
}
.side li:hover{
	color: blueviolet;
	background-color: gray;
	font-weight: bold;
}