/*------------------ body / main menu -------------------------*/
.container{
	width: 1200px;
	height: 1000px;
	margin: auto;
	margin-bottom: 20px; 
}
.side-menu{
	width: 230px;
	height: 100%;
	float: left;
}
.main-menu{
	width: 80%;
	height: 95%;
	float: right;
	border: 1px dashed;
	font-size: 20px;
	overflow: auto;
}
.kirby{
	text-align: center;
}

/*------------------ 사이드 메뉴 css -------------------------*/

.side{
    border: 1px dashed;
    list-style-type: none;
    position: fixed;
    width: 182px;
    padding: 15px;
    margin: 0;
    border-radius: 20px;
}
.side a{
	display: block;
    width: 100%;
    height: 100%;
    color: #FF7D00;
    padding: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.side li{
	box-sizing: border-box;
    border: 2px solid #FF7D00;
    display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	margin-top: -2px;
}
.side-myinfo{
	border-radius: 15px 15px 0 0;
}
.side-event{
	border-radius: 0 0 15px 15px;
}
.side li:hover,
.side-event.active {
    background-color: #FF7D00;
    font-weight: bold;
}
.side a:hover,
.side-event.active a {
    color: white !important;
}