/* 푸터 정적 고정 + 반응형 깨짐 방지 */
.footer_container {
    width: 100%;
    height : 100px;
    background-color: #EBEBEB;
    border-top: 1px solid #EBEBEA;
    justify-content: center;
}

.footer {
	margin: 0 auto;
	width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
}

.footer li {
    list-style: none;
}

.footer li a {
    text-decoration: none;
    color: black;
    margin : 0px 40px;
    font-size: 13px;
    white-space: nowrap;
}