.faq-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    min-height: 1500px; /* 변경된 최소 높이 */
}

.faq-list {
    overflow-y: auto;
    max-height: 500px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-title {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.faq-content {
    padding: 10px;
    display: none;
}