/* body css*/
body {
	font-family: sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/* 친구 목록 css */
/* 스크롤 */
.scroll-container {
	width: 600px;
	margin: 0 auto;
}
/*바디 레이아웃*/
.container_F {
	flex : 1;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	margin: auto;
	padding: 20px;
}
/* 텍스트 자간 조절 */
h1,h2,h3,h4,h5,h6{
	margin: 10px 0px;
}

/* 각 타이틀 포지션 */
.TitleRow {
	display: flex;
	justify-content: space-between; /* 또는 flex-start */
	align-items: center;
	margin-bottom: 20px;
	margin-left: 10px;
}

.friendTitle,
.friend_RandomTitle {
	flex: 1; /* 동일한 너비 분배 (선택사항) */
}

.friendTitle h2,
.friend_RandomTitle h2 {
	margin: 0;
}
.friend_RandomTitle{
	margin-left: 10px;
}

/* 박스 레이아웃 */
.friendList {
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid black;
	border-radius: 10px;
	overflow-y: auto;
}
.friendRandomlist{
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid black;
	border-radius: 10px;
	overflow-y: auto;
}
.friendRow {
  display: flex;
  gap: 20px; /* 원하는 여백 */
  justify-content: center; /* 가운데 정렬 */
  align-items: flex-start;
}

.scroll-container {
	width: 100%;
	height: auto;
}

.friend-box{
	margin: 5px 0px 5px 0px;
	display: auto;
}

.profile{
	display: flex;
	gap: 10px; /* 원할 경우 요소 간 여백 직접 지정 */
	margin-left: 10px;
}

.nicknameBox {
  display: flex;
  align-items: center;
  height: 80px;
}

.nicknameBox p{
	margin: 0;
}
.memo_input{
	margin-right:15px;
	display: flex;
	align-items: center;
}
.unfollowBtn{
	margin-left: 120px;
}