/* body css*/
body {
	font-family: sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/* 친구 추천 목록 */
.sroll_container {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	scroll-behavior: smooth;
	padding: 10px 0;
}

.miniProfile {
	flex: 0 0 auto;
	padding-right: 10px;
	width: 120px;
	text-align: center;
}
/* 친구 목록 css */
.container_F {
	flex : 1;
	text-align : center;
	flex-direction: column;
	align-items: center;
	width: 1200px;
	margin: auto;
	padding: 20px;
}
.chat-pick {
	width: 100%;
	margin: 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
}
.friendList{
	height: auto;
}
.firend_layout{
	width: 100%;
	margin: 5px 0px;
	display: flex;
	flex-direction: column;
	height: 600px;
}
.friend_box{
	height: 100px;
	margin: 0 10px
}
.miniChat{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.friendPicklist_title,
.chatList_title,
.friendpick_listtitle {
	margin: 0px 10px;
	width: 95%;
	display: flex;
	text-align: left;
}
h1,h2,h3,h4,h5,h6{
	margin: 10px 0px;
}

/* 각 영역도 중앙 정렬 */
.friend-list,
.chat-pick,
.friendList {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black; /임시 레이아웃/
	border-radius: 10px;
}
.friendLayout{
	margin-top: 10px;
}
.pickLayout,
.friendLayout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0px;
}
#proFile_img,
#chat_image,
#f_proFile_img {
	width: 80px;
	height: 80px;
}
.profile_nick,
.chat_title{
	width: 120px;
	height: 20px;
}
.profile_image{
	text-decoration: none;
	overflow: hidden;
}
/* miniProfile 가운데 정렬 */
.miniProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.friend_info {
	width : 95%;
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: flex-start;
}
.pro_image{
	margin: 0;
	padding: 0;
}
.pro_userNick{
	margin: 0 40px;
}
.pro_freMemo{
	margin: 0 40px;
}
/* 친구 목록 언팔로우 버튼 css */
.follow_Btn {
	height : 30px;
	margin-left: auto; /* 핵심: 오른쪽으로 밀어줌 */
	margin-right: 10px; /* 우측 여백 */
	display: flex;
	align-items: center; /* 버튼 수직 정렬 */
}
.followBtn{
	padding: 10px 20px;
	font-size: 18px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
.followBtn:hover{
	background-color: gray;
}
/* 친구 목록 메모 관련 css */
.pro_freMemo{
	display : flex;
	align-items : center;
	margin: 0 0px;
	padding: 0 0px;
	gap : 10px
}
.pro_freMemo input[type="text"] {
	height: 40px;
	width : 400px;
	padding: 5px 10px;
	font-size: 14px;
	box-sizing: border-box;
}
.memo_Btn{
	height: 40px;
	font-size: 14px;
	cursor: pointer;
	display : flex;
	justify-content: center;
	align-items: center;
}
.memoBtn{
	font-size: 14px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.memoBtn:hover{
	background-color: gray;
}
/* 모임 가입 요청 버튼 css */
.chat_joinBtn {
	margin : 5px 0px;
	display: flex;
	justify-content: center;
}
.joinBtn {
	padding: 5px 20px;
	font-size: 14px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.joinBtn:hover {
	background-color: gray;
}