img, a img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
.body{
	background-color: #606060;
}
a {
  color: #606060; /* 원하는 색상으로 변경 */
  text-decoration: none; /* 밑줄 제거 (선택 사항) */
}
a:hover {
  color: #303030; /* 원하는 색상으로 변경 */
  text-decoration: underline; /* 밑줄 제거 (선택 사항) */
  
}
.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 254, 252, 0.2);
	width: 1200px; /* 레이아웃의 너비를 고정 */
	height: 90px;
	margin: 30px auto 10px auto; /* 화면 가운데 정렬 */
}
.logoLayout,
.searchLayout,
.profileBox {
  display: flex;
  align-items: center;
}
#logo, #search, #profile, #login {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
}
.searchLayout {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}
/* input과 버튼을 포개기 위한 래퍼 */
.searchWrapper {
	position: relative;
	display: inline-block;
}
#search {
	border: 4px solid #FF7D00;
	border-radius: 25px;
	padding: 6px 40px 6px 30px;
	text-align: left;
}
/* 검색 아이콘 버튼 */
/* 버튼이 input 위에 겹치게 */
#searchBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
/* 아이콘 이미지 크기 */
#searchBtn img {
  width: 27px;
  height: 27px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(92%) saturate(2043%) hue-rotate(-8deg) brightness(104%) contrast(104%);
}
#alarmBtn {
	padding-top: 5px;
	padding-left: 1px;
	background: none;
	border: none;
	cursor: pointer; 
}
/* 아이콘 이미지 크기 */
#alarmBtn img {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(92%) saturate(2043%) hue-rotate(-8deg) brightness(104%) contrast(104%);
}
.nickAndF{
	display: flex;
	flex-direction: row;
}
/* 커뮤니티 아이콘 버튼 */
.communityIcon{
	margin-left: 3px;
}
#communityBtn {
background: none;
border: none;
cursor: pointer;
}
/* 아이콘 이미지 크기 */
#communityBtn img {
  width: 27px;
  height: 27px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(92%) saturate(2043%) hue-rotate(-8deg) brightness(104%) contrast(104%);
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.profile_img_box{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.profile_img_box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;	
}
.nickAndmypage{
	display: flex;
	flex-direction: column;
	margin-left: 18px;
	gap: 7px;
	align-items: flex-start;
	justify-content: center;
}
#login {
  border-radius: 16px;
  padding: px 12px;
  background-color: #FF7D00;
  color: white;
  margin-right: 15px;
}
#login:hover{
  background-color: #e96c00;
}
.logoLayout {
  justify-content: flex-start;
  padding-left: 100px;
}
.profileBox {
  justify-content: flex-start;
  margin-right: 30px;
}
.mypageAndlouout{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	gap : 10px;	
}
.profile-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.profileBox{
	height: 75px;
	border-radius: 20px;
	padding: 5px 15px 5px 10px; 
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.profileBox1{
	margin: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.profileBox2{
	align-items: center;
	justify-content: center;
}
.nickname {
    font-weight: 500;
    font-size: 19px;
}
.searchLayout input[type="search"] {
  width: 500px;
  height: 55px;
  border: 3px solid #000000;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  transition: all 0.1s ease; /* 스타일 변경 효과 */
}
.searchLayout input[type="search"]:focus {
  outline: none;
  box-sizing: border-box;
}
.searchLayout input[type="search"]::placeholder {
  color: #000000;
  font-style: normal
}
.searchLayout input[type="search"]::placeholder {
  color: gray;
  transition: opacity ease;
}
.searchLayout input[type="search"]:hover::placeholder {
  opacity: 0; 
}

/* ----------- 알림 모달 창 -------------*/

.modal {
  display: none; /* 기본은 숨김 */
  position: fixed;
  z-index: 2000;
  left: 650px;
  top: -100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.modal-content {
  background-color: #fff;
  margin: 120px auto;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content ul {
  padding-left: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  cursor: pointer;
}
.close:hover {
  color: #000;
}