/*------------------ body / main menu -------------------------*/
::-webkit-scrollbar {
  display: none;
}
.container{
	width: 1200px;
	height: 1000px;
	margin: auto;
	border: 1px solid;
	margin-bottom: 30px;
}
.main-menu{
	overflow: auto;
}
ul {
  list-style: none;
}
.main-menu a{
    display: block;
    position: relative;
	width: 500px;
    height: 400px;
    margin: 30px;
    float: left;
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-decoration: none;
}
.main-menu a:after{
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: border-color .2s;
    width: 100%;
}
.main-menu a:hover{
	border-color: black;
}
.event-list-img{
	height: 310px;
    overflow: hidden;
    position: relative;
    padding:0px;
}
.event-img{
	width: 100%;
    height: 100%;
}
.event-list-title{
	font-size: 20px;
	margin: 10px 10px 0 20px;
	color: black;
}
.event-list-time{
	font-size: 15px;
	margin: 10px 10px 0 20px;
	color: #666;
}
.event-list-time span{
	color: #0080ff;
}