/*------------------ body / main menu -------------------------*/
.container{
	width: 1200px;
	height: 1000px;
	margin: auto;
}
.side-menu{
	width: 230px;
	height: 100%;
	float: left;
}
.main-menu{
	border: 1px dashed;
	width: 80%;
	float: right;
}
form{
	border: 1px solid black;
	text-align: center;
	margin: 15px;
	padding: 5px;
}
.info{
	text-align: center;
	margin: auto;
	width: 100%;
}
.info-title{
	float: left;
	margin: 0 30px;
	line-height: 60px;
	width: 150px;
	height: 60px;
}
.info-content{
	display: inline-block;
	width: 700px;
	height: 55px;
}
.info-rest{
	float: left;
	width: 90%;
	height: 50px;
}
.info-birth{
	float: left;
	width: 15%;
	height: 50px;
	margin-right: 10px;
}

.info-name{
	float: left;
	width: 50%;
	height: 50px;
}
.info-title-profile{
	width: 100px;
	height: 50px;
}
.info-profile{
	float: right;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	margin: 5px 62px 5px 5px;
}

fieldset{
	width: 610px;
	margin: 0;
}
.btn{
	text-align: center;
	margin: 0 auto;
}

/*------------------ 사이드 메뉴 css -------------------------*/

.side{
    border: 1px dashed;
    list-style-type: none;
    position: fixed;
    padding: 0;
    width: 182px;
    height: 50%;
    padding: 15px;
    margin: 0;
}
.side li{
    border: 1px solid black;
    display: block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px;
}
.side li:hover{
	color: blueviolet;
	background-color: gray;
	font-weight: bold;
}
