body {
    font-family : sans-serif;
    margin : 0;
    padding : 0;
    display : flex;
    flex-direction: column;
    min-height: 100vh; /*영역을 남김없이 쓴다는 뜻 대략..*/
}
/*------------------ body / main menu -------------------------*/
.container{
	width: 1200px;
	margin: 40px auto;
	display: flex;
}
.side-menu{
	width: 200px;
	display: flex;
	margin-top: 100px;
}
.main-menu{
	width: 60%;
	border-radius: 20px;
	margin-left: 100px;
	margin-top: 100px;
}
form{
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	margin: 15px;
	padding: 5px;
}
form input{
	font-size: 20px;
	border: 1px solid;
	border-radius: 5px;
	padding: 0 20px;
}
b{
	font-size: 20px;
	margin: 0;
}
.info{
	text-align: center;
	margin: auto;
	width: 100%;
}
.info-title{
	float: left;
	margin: 10px 10px 0px 0px;
	font-weight: 300;
	font-size: 12px;
	margin-left: 5px;
}
.info-content{
	margin: 5px 0;
	display: inline-block;
	width: 700px;
	height: 55px;
}
.info-rest{
	float: left;
	width: 85%;
	height: 50px;
}
.info-birth{
	text-align: center;
	float: left;
	width: 15%;
	height: 50px;
	margin-right: 10px;
	padding: 0;
}
.info-gender{
	float: left;
	width: 299px;
	height: 50px;
}
.info-phone{
	padding: 0;
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
}
.info-content span{
	float: left;
	font-size: 40px;
	margin: 0 10px;
}
.info-name{
	float: left;
	width: 299px;
	height: 50px;
}
.info-profile-div{
	float: right;
	border-radius: 20px;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 5px 62px 5px 5px;
	
}
.info-profile{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
fieldset{
	width: 610px;
	margin: 0;
}
.btn-div{
	width: 100%;
	display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; 
}
.modify-btn{
	background-color: #FF7D00;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
	height: 40px;
}
/*------------------ 사이드 메뉴 css -------------------------*/

.side{
    list-style-type: none;
    position: fixed;
    width: 182px;
    padding: 15px;
    margin: 0;
    border-radius: 20px;
}
.side a{
	display: block;
    width: 100%;
    height: 100%;
    color: #FF7D00;
    padding: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.side li{
	box-sizing: border-box;
    border: 2px solid #FF7D00;
    display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	margin-top: -2px;
}
.side-myinfo{
	border-radius: 15px 15px 0 0;
}
.side-event{
	border-radius: 0 0 15px 15px;
}
.side li:hover,
.side-myinfo.active {
    background-color: #FF7D00;
    font-weight: bold;
}
.side a:hover,
.side-myinfo.active a {
    color: white !important;
}
