/*------------------ body / main menu -------------------------*/
.container{
	height: 1000px;
	margin-bottom: 20px; 
	margin-top: 90px;
	display: flex;
	flex-direction: column;
}
.main-menu{
	width: 80%;
	height: 95%;
	border: 1px solid #ebebeb;
	font-size: 20px;
	overflow: auto;
	width: calc(80% - 40px);
	margin-top: 15px;
	border-radius: 15px;
}
.kirby{
	text-align: center;
}
/*------------------ 사이드 메뉴 css -------------------------*/
.side-menu{
    display: flex;
    width: 100%;
    background-color: #FF7700;
    justify-content: center;
	height: 60px;
}
.side{
    list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}
.side a{
	display: block;
    width: 130px;
    height: 100%;
    color: white;
    padding: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.side li{
    display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}
.side-myinfo{
	border-radius: 15px 15px 0 0;
}
.side-event{
	border-radius: 0 0 15px 15px;
}
.side a:hover{
	color:white;
    font-weight: bold;
    text-decoration: none;
}
.side li a.active{
	color: white; !important;
	font-weight: bold;
	text-decoration: none;
	background-color: #fc851e;
}
#text1{
	font-size: 12px;
	text-align: left;
	margin: 0px 10px 5px;
}
