#privacyPolicyContainer {
width: 1200px;
margin: 20px auto;
}

#privacyPolicyNavigation {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	grid-gap: 5px;
	margin-bottom: 20px;
}

#privacyPolicyNavigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #f0f0f0;
	text-decoration: none;
	color: #333;
	border: 1px solid #ddd;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 450px;
}

#privacyPolicyNavigation a .arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

#privacyPolicyContent {
	border: 1px solid #ddd;
	padding: 20px;
	width: 940px;
}

#privacyPolicyContent .section {
	margin-bottom: 20px;
}

#privacyPolicyContent h2 {
	margin-bottom: 10px;
}
/* 첫 번째 테이블 스타일 */
#firstTable {
	width: 100%;
	border-collapse: collapse;
	font-size: 80%;
}

#firstTable th, #firstTable td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

#firstTable th {
	background-color: #f2f2f2;
	text-align: center;
}

#firstTable td:nth-child(1) {
	width: 130px;
	text-align: center;
}

#firstTable td:nth-child(2) {
	width: 50px;
	text-align: center;
}

#firstTable td:nth-child(3) {
	width: 270px;
}

#firstTable td:nth-child(4) {
	width: 320px;
}

#firstTable td:nth-child(5) {
	width: 160px;
}

/* 두 번째 테이블 스타일 */
#secondTable {
	border-collapse: collapse;
	font-size: 80%;
	text-align: center;
}

#secondTable th, #secondTable td{
	border: 1px solid #ddd;
	padding: 8px;
}

#secondTable th{
	background-color: #f2f2f2;
}
#secondTable td:nth-child(1) {
	width: 400px;
}

#secondTable td:nth-child(2) {
	width: 400px;
}

#secondTable td:nth-child(3) {
	width: 140px;
}
/* 세 번째 테이블 스타일 */
#thirdTable {
	border-collapse: collapse;
	font-size: 80%;
}
#thirdTable th, #thirdTable td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}
#thirdTable th {
	background-color: #f2f2f2;
}
#thirdTable td:nth-child(1) {
	width: 190px;
}

#thirdTable td:nth-child(2) {
	width: 310px;
}

#thirdTable td:nth-child(3) {
	width: 310px;
}

#thirdTable td:nth-child(4) {
	width: 130px;
}
/* 네 번째 테이블 스타일 */
#fourthTable {
	border-collapse: collapse;
	font-size: 80%;
	text-align: center;
}

#fourthTable th, #fourthTable td {
	border: 1px solid #ddd;
	padding: 8px;
}

#fourthTable th {
	background-color: #f2f2f2;
}
#fourthTable td:nth-child(1) {
	width: 250px;
}

#fourthTable td:nth-child(2) {
	width: 690px;
}