#privacyPolicyContainer {
	width: 1200px;
	margin: 20px auto;
	margin-top: 110px;
}

#privacyPolicyNavigation {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 20px;
	width: 1200px;
}

#privacyPolicyNavigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #f0f0f0;
	text-decoration: none;
	color: #333;
	border: 1px solid #ddd;
	position: relative;
	text-align: center;
	cursor: pointer;
}

#privacyPolicyNavigation a .arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

#privacyPolicyContent {
	border: 1px solid #ddd;
	padding: 29px;
	width: 1140px;
}

#privacyPolicyContent .section {
	margin-bottom: 20px;
}

#privacyPolicyContent h2 {
	margin-bottom: 10px;
}
/* 첫 번째 테이블 스타일 */
#firstTable {
	/*width: 100%;*/
	border-collapse: collapse;
	font-size: 80%;
}

#firstTable th, #firstTable td {
	border: 1px solid #ddd;
	padding: 9px;
	text-align: left;
}

#firstTable th {
	background-color: #f2f2f2;
	text-align: center;
}

#firstTable td:nth-child(1) {
	width: 130px;
	text-align: center;
}

#firstTable td:nth-child(2) {
	width: 50px;
	text-align: center;
}

#firstTable td:nth-child(3) {
	width: 300px;
}

#firstTable td:nth-child(4) {
	width: 360px;
}

#firstTable td:nth-child(5) {
	width: 240px;
}

/* 두 번째 테이블 스타일 */
#secondTable {
	/*width: 100%;*/
	border-collapse: collapse;
	font-size: 80%;
	text-align: center;
	table-layout: fixed;
}

#secondTable th, #secondTable td{
	border: 1px solid #ddd;
	padding: 9px;
}

#secondTable th{
	background-color: #f2f2f2;
}
#secondTable td.item {
    width: 400px;
}

#secondTable td.law {
    width: 550px;
}

#secondTable td.duration {
    width: 190px;
}
/* 세 번째 테이블 스타일 */
#thirdTable {
	/*width: 100%;*/
	border-collapse: collapse;
	font-size: 80%;
}
#thirdTable th, #thirdTable td {
	border: 1px solid #ddd;
	padding: 9px;
	text-align: center;
}
#thirdTable th {
	background-color: #f2f2f2;
}
#thirdTable td:nth-child(1) {
	width: 210px;
}

#thirdTable td:nth-child(2) {
	width: 210px;
}

#thirdTable td:nth-child(3) {
	width: 350px;
}

#thirdTable td:nth-child(4) {
	width: 350px;
}
/* 네 번째 테이블 스타일 */
#fourthTable {
	border-collapse: collapse;
	font-size: 80%;
	text-align: center;
}

#fourthTable th, #fourthTable td {
	border: 1px solid #ddd;
	padding: 8px;
}

#fourthTable th {
	background-color: #f2f2f2;
}
#fourthTable td:nth-child(1) {
	width: 250px;
}

#fourthTable td:nth-child(2) {
	width: 915px;
}
.section {
  scroll-margin-top: 100px;
}