#privacy-policy-container {
    width: 1200px;
    margin: 20px auto;
}

#privacy-policy-navigation {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

#privacy-policy-navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 450px;
}

#privacy-policy-navigation a .arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#privacy-policy-content {
    border: 1px solid #ddd;
    padding: 20px;
    width: 940px;
}

#privacy-policy-content .section {
    margin-bottom: 20px;
}

#privacy-policy-content h2 {
    margin-bottom: 10px;
}
/* 첫 번째 테이블 스타일 */
#firstTable {
    width: 100%; /* 컨테이너 너비에 맞게 테이블 너비 조정 */
    border-collapse: collapse;
    font-size: 80%;
}

#firstTable th, #firstTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#firstTable th {
    background-color: #f2f2f2;
}

#firstTable td:nth-child(1) {
    width: 170px;
}

#firstTable td:nth-child(2) {
    width: 10px;
}

#firstTable td:nth-child(3) {
    width: 330px;
}

#firstTable td:nth-child(4) {
    width: 400px;
}

#firstTable td:nth-child(5) {
    width: 200px;
}

/* 두 번째 테이블 스타일 */
#secondTable {
    width: 100%; /* 컨테이너 너비에 맞게 테이블 너비 조정 */
    border-collapse: collapse;
    font-size: 80%;
}

#secondTable th, #secondTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#secondTable th {
    background-color: #f2f2f2;
}