.side{
    border: 1px dashed;
    list-style-type: none;
    position: fixed;
    width: 182px;
    height: 40%;
    padding: 15px;
    margin: 0;
}
.side li{
    border: 1px solid black;
    display: block;
	width: 140px;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px;
}
.side li:hover{
	background-color: gray;
	font-weight: bold;
}
