/*------------------ body / main menu -------------------------*/
::-webkit-scrollbar {
  display: none;
}
.container{
	width: 1200px;
	height: 1000px;
	margin: auto;
	border: 1px solid;
	margin-bottom: 30px;
}
.main-menu{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.main-menu h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.main-menu p{
  font-size: 1.2rem;
}
#canvas{
	border: 1px solid gray;
	display: block;
	margin: 20px auto;
}
#spin{
	display: block;
	margin: 0 auto; 
}
.spin-btn{
	background-color: #FF7D00;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 30px 20px; 
	width: 100px;
	height: 40px;
}
.spin-btn:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
}


#spin:disabled {
	width: 150px;
  background: #ccc;
  transform: none;
  box-shadow: none;
}



