<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.AdminMapper">
	
	<select id="getAllGroup" resultType="org.joonzis.domain.GroupVO">
		SELECT * FROM "GROUP" ORDER BY GROUP_NO DESC
	</select>
	
	<select id="getAllMember" resultType="org.joonzis.domain.MemberVO">
		SELECT * FROM MEMBER ORDER BY MEM_NO DESC
	</select>
	
	<select id="getAllRestaurant" resultType="org.joonzis.domain.RestVO">
		SELECT * FROM RESTAURANT ORDER BY REST_NO DESC
	</select>
</mapper>