<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.RestMapper">
	<select id="findAll" resultType="org.joonzis.domain.RestVO">
		SELECT * FROM RESTAURANT
	</select>
    
    <select id="filteredAll" resultType="org.joonzis.domain.RestVO" parameterType="Map">
	    SELECT 
		    r.REST_NO,
		    r.REST_NAME,
		    r.REST_PHONE,
		    r.REST_ADR,
		    r.REST_BH,
		    r.REST_LOC,
		    r.REST_CATE,
		    i.REST_IMG_NAME,
		    i.REST_IMG_NO
		FROM 
    		RESTAURANT r
		LEFT JOIN (
		    SELECT 
		        REST_NO,
		        REST_IMG_NAME,
		        REST_IMG_NO,
		        ROW_NUMBER() OVER (PARTITION BY REST_NO ORDER BY REST_IMG_NO) AS rn
		    FROM 
		        REST_IMG
		) i ON r.REST_NO = i.REST_NO AND i.rn = 1
		WHERE 1=1
	    <if test="region != null">
	        AND r.rest_loc LIKE #{region}
	    </if>
	    <if test="category != null">
	        AND r.rest_cate = #{category}
	    </if>
	</select>
	
	<select id="search" resultType="org.joonzis.domain.RestVO" parameterType="Map">
    SELECT 
	    r.REST_NO,
	    r.REST_NAME,
	    r.REST_PHONE,
	    r.REST_ADR,
	    r.REST_BH,
	    r.REST_LOC,
	    r.REST_CATE,
	    i.REST_IMG_NAME,
	    i.REST_IMG_NO
	FROM 
	    RESTAURANT r
	LEFT JOIN (
	    SELECT 
	        REST_NO,
	        REST_IMG_NAME,
	        REST_IMG_NO,
	        ROW_NUMBER() OVER (PARTITION BY REST_NO ORDER BY REST_IMG_NO) AS rn
	    FROM 
	        REST_IMG
	) i ON r.REST_NO = i.REST_NO AND i.rn = 1
    <where>
        <if test="keyword != null and keyword != ''">
            AND (
                UPPER(r.rest_name) LIKE '%' || UPPER(#{keyword}) || '%'
            )
        </if>
        <if test="region != null and region != ''">
            AND r.rest_loc LIKE #{region}
        </if>
        <if test="category != null and category != ''">
            AND r.rest_cate = #{category}
        </if>
    </where>
    <if test="keyword != null and keyword != ''">
        ORDER BY 
            CASE 
                WHEN UPPER(r.rest_name) = UPPER(#{keyword}) THEN 0 
                ELSE 1 
            END,
            r.rest_name ASC
    </if>
	</select>
	
	<select id="findByNo" resultType="org.joonzis.domain.RestVO">
		SELECT 
        r.REST_NO,
        r.REST_NAME,
        r.REST_PHONE,
        r.REST_ADR,
        r.REST_BH,
        r.REST_LOC,
        r.REST_CATE,
        i.REST_IMG_NAME,
        i.REST_IMG_NO
    FROM 
        RESTAURANT r
    LEFT JOIN 
        REST_IMG i ON r.REST_NO = i.REST_NO
    WHERE 
        r.REST_NO = #{rest_no}
	</select>
	
	<select id="getRest" resultType="org.joonzis.domain.RestVO">
		SELECT 
	        r.REST_NO,
	        r.REST_NAME,
	        r.REST_PHONE,
	        r.REST_ADR,
	        r.REST_BH,
	        r.REST_LOC,
	        r.REST_CATE,
	        i.REST_IMG_NAME,
	        i.REST_IMG_NO
	    FROM 
	        RESTAURANT r
	    LEFT JOIN 
	        REST_IMG i ON r.REST_NO = i.REST_NO
	    WHERE 
	        r.REST_NO = #{rest_no} and i.rest_img_no=1
	</select>
	
	<insert id="addReserve" parameterType="org.joonzis.domain.ReserveVO">
        INSERT INTO RESERVE (RES_NO, MEM_NO, REST_NO, RES_DATE, RES_TIME, RES_MEMO)
        VALUES (
            SEQ_RESERVE.NEXTVAL, 
            #{mem_no, jdbcType=INTEGER}, 
            #{rest_no, jdbcType=INTEGER}, 
            <if test="res_date != null">
                TO_DATE(#{res_date, jdbcType=VARCHAR}, 'YYYY-MM-DD')
            </if>
            <if test="res_date == null">
                NULL
            </if>,
            #{res_time, jdbcType=VARCHAR}, 
            #{res_memo, jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="getReservedTimes" resultType="string">
	    SELECT RES_TIME
	    FROM RESERVE
	    WHERE REST_NO = #{rest_no, jdbcType=INTEGER}
	    AND RES_DATE = TO_DATE(#{res_date, jdbcType=VARCHAR}, 'YYYY-MM-DD')
	</select>
	
	<select id="getReserveList" resultType="org.joonzis.domain.ReserveRestDTO">
		SELECT 
		    e.RES_NO,
		    e.MEM_NO,
		    e.RES_DATE,
		    e.RES_TIME,
		    e.RES_MEMO,
		    r.REST_NO,
		    r.REST_NAME,
		    r.REST_ADR,
		    r.REST_BH,
		    r.REST_CATE,
		    i.REST_IMG_NAME,
		    b.IS_PUBLIC
		FROM 
		    RESTAURANT r
		INNER JOIN    
		    RESERVE e ON r.REST_NO = e.REST_NO
		LEFT JOIN 
		    REST_IMG i ON r.REST_NO = i.REST_NO AND i.REST_IMG_NO=1
		LEFT JOIN
		    BOOKMARK b ON e.MEM_NO = b.MEM_NO AND r.REST_NO = b.REST_NO
		WHERE 
		    e.MEM_NO = #{mem_no}
		ORDER BY
			e.RES_TIME ASC,
		    CASE 
		        WHEN b.IS_PUBLIC = 'Y' THEN 1
		        WHEN b.IS_PUBLIC = 'N' THEN 2
		        ELSE 3
		    END
	</select>
	
	<delete id="cancelBooking">
		DELETE FROM RESERVE WHERE RES_NO=#{res_no}
	</delete>
	
	<update id="updateReserveMemo">
		UPDATE RESERVE 
		SET
			RES_MEMO=#{res_memo}
		WHERE
			RES_NO=#{res_no}
	</update>

	<select id="getTest" resultType="org.joonzis.domain.RestVO">
		SELECT * FROM restaurant
	</select>
	
	<select id="getSearch" resultType="org.joonzis.domain.RestVO" parameterType="String">
	    SELECT 
	        r.REST_NO,
	        r.REST_NAME,
	        r.REST_PHONE,
	        r.REST_ADR,
	        r.REST_BH,
	        r.REST_LOC,
	        r.REST_CATE,
	        r.latitude,
	        r.longitude,
	        i.REST_IMG_NAME,
	        i.REST_IMG_NO
	    FROM 
	        RESTAURANT r
	    LEFT JOIN (
	        SELECT 
	            REST_NO,
	            REST_IMG_NAME,
	            REST_IMG_NO,
	            ROW_NUMBER() OVER (PARTITION BY REST_NO ORDER BY REST_IMG_NO) AS rn
	        FROM 
	            REST_IMG
	    ) i ON r.REST_NO = i.REST_NO AND i.rn = 1
	    <where>
	        <if test="_parameter != null and _parameter != ''">
	            AND (
	                UPPER(r.rest_name) LIKE '%' || UPPER(#{_parameter}) || '%'
	            )
	        </if>
	    </where>
	</select>
	<!-- 테스트 중 -->
	<select id="getSearch2" resultType="org.joonzis.domain.RestVO" parameterType="list">
    SELECT 
        r.REST_NO,
        r.REST_NAME,
        r.REST_PHONE,
        r.REST_ADR,
        r.REST_BH,
        r.REST_LOC,
        r.REST_CATE,
        r.latitude,
        r.longitude,
        i.REST_IMG_NAME,
        i.REST_IMG_NO
    FROM 
        RESTAURANT r
    LEFT JOIN (
        SELECT 
            REST_NO,
            REST_IMG_NAME,
            REST_IMG_NO,
            ROW_NUMBER() OVER (PARTITION BY REST_NO ORDER BY REST_IMG_NO) AS rn
        FROM 
            REST_IMG
    ) i ON r.REST_NO = i.REST_NO AND i.rn = 1
    <where>
        <if test="_parameter != null and _parameter.size() > 0">
            <foreach collection="_parameter" item="keyword" open="(" close=")" separator=" OR ">
                (
                    UPPER(r.rest_name) LIKE '%' || UPPER(#{keyword}) || '%'
                    OR UPPER(r.rest_loc) LIKE '%' || UPPER(#{keyword}) || '%'
                    OR UPPER(r.rest_cate) LIKE '%' || UPPER(#{keyword}) || '%'
                )
            </foreach>
        </if>
    </where>
</select>
</mapper>